.section {
    max-width: 1140px;
    margin: 0 auto;
}

.about-project {
    padding: 110px 70px;
}

.about-project__title {
    
} 

.section__title {
    margin: 0;
    width: 100%;
    padding: 0 0 23px 0;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
}

.about-project__container {
    display: flex;
}

.about-project__text-content {
    margin: 70px 0 0 0;
    padding: 0;
}

.about-project__topic-title {
    margin: 0 0 26px 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__topic-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}

.about-project__duration-container {
    margin: 110px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.about-project__tech-container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.about-project__backend-duration {
    margin: 0;
    padding: 9px 0;
    width: 100%;
    color: white;
    background-color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__frontend-duration {
    margin: 0;
    padding: 9px 0;
    width: 100%;
    color: black;
    background-color: rgba(242, 242, 242, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__tech-name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    color: #A0A0A0;
}

@media screen and (max-width: 769px) {
    .about-project {
        padding: 90px 30px;
    }
}

@media screen and (max-width: 510px) {
    .about-project {
        padding: 70px 0;
    }
    .about-project__container {
        flex-direction: column;
    }
    .about-project__duration-container {
        grid-template-columns: 2fr 4fr;
    }
}