.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    padding: 70px 0 0 0;
}

.page-not-found__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.page-not-found__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.page-not-found__link {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}