@import url('../../vendor/fonts/inter.css');
@import url('../Register/Register.css');
@import url('../Login/Login.css');
@import url('../Main/Main.css');
@import url('../Header/Header.css');
@import url('../NavBar/NavBar.css');
@import url('../Footer/Footer.css');
@import url('../Movies/Movies.css');
@import url('../SavedMovies/SavedMovies.css');
@import url('../SearchForm/SearchForm.css');
@import url('../Card/Card.css');
@import url('../ShowMore/ShowMore.css');
@import url('../Profile/Profile.css');
@import url('../PageNotFound/PageNotFound.css');


.App {
  max-width: 1440px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  overflow: hidden;
}

