.show-more {
    padding: 50px 0 80px 0;
    display: flex;
    justify-content: center;
}

.show-more__button {
    width: 320px;
    height: 36px;
    background-color: white;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}